<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--变量申明与取值-->
<#assign var="hello,spring"/>
    ${var}
<h1>
    整型取值：
</h1>
<ul>
    <li>int:${intVar}</li>
    <li>long:${longVar}</li>
    <li>String:${StringVar}</li>
    <li>Double:${DoubleVar}</li>
    <li>boolean:${boolVar?string('true','false')}</li>
    <li>boolean:${boolVarfalse?string('true','false')}</li>
</ul>
<h1>
    日期取值：
</h1>
<ul>
    <li>年月日时分秒：${currentTime?string('yyyy-MM-dd HH:mm:ss zzzz')}</li>
    <li>年月日时分秒：${currentTime?string('yyyy-MM-dd HH:mm:ss')}</li>
    <li>年月日：${currentTime?string('yyyy-MM-dd')}</li>
    <li>时分秒：${currentTime?string('HH:mm:ss')}</li>
</ul>
<h1>
    null取值：
</h1>
<ul>
    <!--加！号，会先判断是否存在，若值为null则不显示-->
    <li>null：${nullVar!}</li>
    <li>null：${nullVar!'我是null'}</li>
</ul>
<h1>
    在后端没有定义的取值：
</h1>
<ul>
    <!--加！号，若值为null则不显示-->
    <li>missing：${sdfsafasdf!'默认值'}</li>
</ul>
<h1>hello</h1>
</body>
</html>